---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set siteUrl = (site.url or '') | trim('/') -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | reverse %}
    {%- if page.url and page.url != '/404.html' -%}
    <url>
      <loc>{{ siteUrl }}{{ page.url }}</loc>
      {%- if page.date -%}
      <lastmod>{{ page.date | date('yyyy-LL-dd') }}</lastmod>
      {%- endif -%}
    </url>
    {%- endif -%}
  {%- endfor %}
</urlset>
